# Format Style Options - Created with Clang Power Tools
---
AccessModifierOffset: -1
AlignConsecutiveMacros: None
AlignConsecutiveDeclarations: None
AlignAfterOpenBracket: BlockIndent
BinPackParameters: false
AlignEscapedNewlines: DontAlign
AlignConsecutiveAssignments: false
AllowShortFunctionsOnASingleLine: Empty
AllowShortIfStatementsOnASingleLine: false
AllowShortLoopsOnASingleLine: false
AllowShortCaseLabelsOnASingleLine: false
AllowAllParametersOfDeclarationOnNextLine: false
AlwaysBreakTemplateDeclarations: Yes
BasedOnStyle: WebKit
BreakBeforeBraces: Allman
ColumnLimit: 100
DerivePointerAlignment: false
IndentCaseLabels: true
IndentPPDirectives: BeforeHash
IndentWidth: 4
PointerAlignment: Left
UseTab: Never
IncludeBlocks: Merge
SortIncludes: true
ReflowComments: true
SpacesBeforeTrailingComments: 1
SpaceAfterCStyleCast: false
SpaceAfterLogicalNot: false
NamespaceIndentation: All
Standard: c++20
TabWidth: 4
