# Format Style Options - Created with Clang Power Tools
---
BasedOnStyle: WebKit
AccessModifierOffset: -1
AlignConsecutiveMacros: Consecutive
AlignConsecutiveDeclarations: Consecutive
AlignEscapedNewlines: DontAlign
AllowShortCaseLabelsOnASingleLine: true
AlwaysBreakTemplateDeclarations: Yes
BreakBeforeBraces: Allman
ColumnLimit: 160
IndentCaseLabels: true
IndentPPDirectives: BeforeHash
IndentWidth: 4
NamespaceIndentation: All
Standard: c++20
TabWidth: 4
...
