[submodule "Dependencies/glm"]
	path = Dependencies/glm
	url = https://github.com/Konfus-org/glm.git
[submodule "Dependencies/googletest"]
	path = Dependencies/googletest
	url = https://github.com/Konfus-org/googletest.git
[submodule "Dependencies/GLFW"]
	path = Dependencies/GLFW
	url = https://github.com/Konfus-org/GLFW.git
[submodule "Dependencies/sys_info"]
	path = Dependencies/sys_info
	url = https://github.com/Konfus-org/sys_info.git
[submodule "Dependencies/spdlog"]
	path = Dependencies/spdlog
	url = https://github.com/Konfus-org/spdlog.git
[submodule "Dependencies/ModernJSON"]
	path = Dependencies/nlohmann_json
	url = https://github.com/Konfus-org/ModernJSON.git
[submodule "Dependencies/ImGui"]
	path = Dependencies/ImGui
	url = https://github.com/Konfus-org/ImGui.git
[submodule "Dependencies/NVRHI"]
	path = Dependencies/NVRHI
	url = https://github.com/Konfus-org/NVRHI.git
[submodule "Plugins/Toybox-GLFW-Winput-Plugin"]
	path = Plugins/Toybox-GLFW-Winput-Plugin
	url = https://github.com/Konfus-org/Toybox-GLFW-Winput-Plugin.git
[submodule "Plugins/Toybox-Spd-Logging-Plugin"]
	path = Plugins/Toybox-Spd-Logging-Plugin
	url = https://github.com/Konfus-org/Toybox-Spd-Logging-Plugin.git
[submodule "Plugins/Toybox-ImGui-DebugUI-Plugin"]
	path = Plugins/Toybox-ImGui-DebugUI-Plugin
	url = https://github.com/Konfus-org/Toybox-ImGui-DebugUI-Plugin.git
