[submodule "3rd Party/Libraries/spdlog"]
	path = 3rd Party/Libraries/spdlog
	url = https://github.com/Konfus-dev/spdlog.git
[submodule "3rd Party/Libraries/glfw"]
	path = 3rd Party/Libraries/glfw
	url = https://github.com/Konfus-dev/glfw.git
