[submodule "thirdparty/nlohmann_json"]
	path = thirdparty/nlohmann_json
	url = https://github.com/Konfus-org/json.git
[submodule "thirdparty/imgui"]
	path = thirdparty/imgui
	url = https://github.com/Konfus-org/imgui.git
[submodule "thirdparty/glm"]
	path = thirdparty/glm
	url = https://github.com/Konfus-org/glm.git
[submodule "thirdparty/spdlog"]
	path = thirdparty/spdlog
	url = https://github.com/Konfus-org/spdlog.git
[submodule "thirdparty/googletest"]
	path = thirdparty/googletest
	url = https://github.com/Konfus-org/googletest.git
[submodule "thirdparty/SDL"]
	path = thirdparty/SDL
	url = https://github.com/Konfus-org/SDL.git
