void serialize(::tbx::Json& tbx_json, const {{ name }}& tbx_value)
{
    tbx_json = ::tbx::write_indexed_serialization_value<::tbx::Json>(
        tbx_value,
        {{ count }});
}
void deserialize(const ::tbx::Json& tbx_json, {{ name }}& tbx_value)
{
    ::tbx::read_indexed_serialization_value(
        tbx_json,
        tbx_value,
        {{ count }});
}
