# This workflow is for a CMake project running on multiple platforms.
name: CMake on multiple platforms

on:
  push:
    branches: [ "main" ]
    paths-ignore:
      - '.github/labeler.yml'
      - '**/*.md'
  pull_request:
    branches: [ "main" ]
    paths-ignore:
      - '.github/labeler.yml'
      - '**/*.md'

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  build_fast:
    if: github.event_name == 'pull_request'
    uses: ./.github/workflows/cmake-platform-build.yml
    with:
      use-cache: true
      fail-fast: true
      matrix-config: >-
        {"include":[
          {"os":"windows-latest","build_type":"Release","c_compiler":"cl","cpp_compiler":"cl","compiler_launcher":"sccache"},
          {"os":"ubuntu-latest","build_type":"Release","c_compiler":"clang","cpp_compiler":"clang++","compiler_launcher":"ccache"}
        ]}

  build_full:
    if: github.event_name != 'pull_request'
    uses: ./.github/workflows/cmake-platform-build.yml
    with:
      use-cache: false
      fail-fast: false
      matrix-config: >-
        {"include":[
          {"os":"windows-latest","build_type":"Release","c_compiler":"cl","cpp_compiler":"cl","compiler_launcher":""},
          {"os":"ubuntu-latest","build_type":"Release","c_compiler":"gcc","cpp_compiler":"g++","compiler_launcher":""},
          {"os":"ubuntu-latest","build_type":"Release","c_compiler":"clang","cpp_compiler":"clang++","compiler_launcher":""}
        ]}
