# This workflow is for a CMake project running on multiple platforms.
name: CMake on multiple platforms

on:
  push:
    branches: [ "main" ]
    paths-ignore:
      - '.github/labeler.yml'
      - '**/*.md'
  pull_request:
    branches: [ "main" ]
    paths-ignore:
      - '.github/labeler.yml'
      - '**/*.md'

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  build_fast:
    if: github.event_name == 'pull_request'
    uses: ./.github/workflows/cmake-platform-build.yml
    with:
      use-cache: true
      fail-fast: true
      matrix-config: >-
        {"include":[
          {"os":"windows-latest","configure_preset":"msvc","build_preset":"msvc-release","test_preset":"test-msvc-release","compiler_launcher":"sccache"},
          {"os":"ubuntu-latest","configure_preset":"clang","build_preset":"clang-release","test_preset":"test-clang-release","compiler_launcher":"ccache"}
        ]}

  cache_seed:
    if: github.event_name == 'push' && github.ref == 'refs/heads/main'
    uses: ./.github/workflows/cmake-platform-build.yml
    with:
      use-cache: true
      fail-fast: false
      matrix-config: >-
        {"include":[
          {"os":"windows-latest","configure_preset":"msvc","build_preset":"msvc-release","test_preset":"test-msvc-release","compiler_launcher":"sccache"},
          {"os":"ubuntu-latest","configure_preset":"clang","build_preset":"clang-release","test_preset":"test-clang-release","compiler_launcher":"ccache"}
        ]}

  build_full:
    if: github.event_name != 'pull_request'
    uses: ./.github/workflows/cmake-platform-build.yml
    with:
      use-cache: false
      fail-fast: false
      matrix-config: >-
        {"include":[
          {"os":"windows-latest","configure_preset":"msvc","build_preset":"msvc-release","test_preset":"test-msvc-release","compiler_launcher":""},
          {"os":"ubuntu-latest","configure_preset":"default","build_preset":"default-release","test_preset":"test-default-release","compiler_launcher":""},
          {"os":"ubuntu-latest","configure_preset":"clang","build_preset":"clang-release","test_preset":"test-clang-release","compiler_launcher":""}
        ]}
