name: Greetings

on: [pull_request_target, issues]

jobs:
  greeting:
    runs-on: ubuntu-latest
    permissions:
      issues: write
      pull-requests: write
    steps:
    - uses: actions/first-interaction@v1
      with:
        repo-token: ${{ secrets.GITHUB_TOKEN }}
        issue-message: "Welcome to Toybox, thanks for reporting an issue and/or requesting a feature! If you haven't already be sure to read the CODE_OF_CONDUCT.md"
        pr-message: "Welcome to Toybox, thanks for contributing! If you haven't already be sure to read the README.md at the root of the repo as well as the CODE_OF_CONDUCT.md if you have any questions you can reach out to konfusdev@gmail.com and I will answer as soon as I'm able. Happy coding!
